/* CHEAT SHEET: bg, bgc, c, bgi, f, ff, fz, ff:ss, cur, bd, p, w, m,
m:a, mt, mb, maw */

body {
    font-family: "Roboto", sans-serif;
    color: #454545;
    display: flex;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.form-control {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 425px;
    max-width: 28%;
    padding: 35px;
    margin-bottom: 10px;
    display: inline-flex;
}

.form-control input {
    border: 0;
    border-radius: 3px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 98%;
    margin: 0 0 3px;
    height: 70px;
}

.form-sports {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 98%;
    max-width: 105%;
    padding: 10px;
    margin: auto;
    display: inline-block;
}

form button {
    background-color:  blue;
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 5%;
}

#output {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 10px;
  }
